<div class="event">
    <div class="content">
        <div class="summary">
            <a>
                @<%= message.created_at.to_s(:short) %>
            </a> 
            <a>
                <%= message.user.username %>
            </a> 
                wrote 
            <a>
                <%= message.body %>
            </a>
        </div>
    </div>
</div>